
/* Your CSS Code here. */
.header {
    padding: 50px;
    text-align: center;
    background: black;
    color: gold;
    font-size: 30px;
  }
  .actor {
    padding: 50px;
    text-align: left;
    background: black;
    color: whitesmoke;
    font-size: 20px;
  }
  .quotes {
    padding: 50px;
    text-align: left;
    background: black;
    color: whitesmoke;
    font-size: 20px;
  }
  .summary{
    padding: 50px;
    text-align: left;
    background: black;
    color: whitesmoke;
    font-size: 20px;
  }
  .aside{
    padding: 50px;
    text-align: left;
    background: black;
    color: whitesmoke;
    font-size: 20px;
  }
  .footer{
    padding: 50px;
    text-align: center;
    background: black;
    color: gold;
    font-size: 20px;
  }
